{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static '/css/detail.css' %}">
{% endblock %}


{% block content %}
    <div class="container">

        <h2 class="text-center m-4">Кошик</h2>

        <table class="table align-middle mb-0 bg-light">
            <thead class="bg-info text-center">
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>

            {% for item in cart %}
                {% with product=item.product %}
                    <tr class="text-center">
                        <td class="align-middle">
                            <div class="photo-container">
                                <img class="photo" src="{{ product.img.url }}" alt="{{ product.img.url }}"/>
                            </div>
                        </td>

                        <td class="align-middle">
                            <p class="fw-normal mb-1">{{ product.name }}</p>
                        </td>

                        <td class="align-middle">
                            <p class="fw-normal mb-1">{{ item.quantity }}</p>
                        </td>

                        <td class="align-middle"><a href="{% url "cart:remove" product_slug=product.slug %}">Remove</a></td>

                        <td class="align-middle">{{ item.price }} грн</td>

                        <td class="align-middle">{{ item.total_price }} грн</td>

                    </tr>
                {% endwith %}

            {% endfor %}

            <tr class="total">
                <td class="text-center">Total</td>
                <td colspan="4"></td>
                <td class="text-center">{{ cart.get_total_price }} грн</td>
            </tr>

            <a href="{% url "catalog:category_list_url" %}" class="mr-2">Continue shopping</a>

            </tbody>
        </table>

    <a href="{% url "order:create" %}" class="btn btn-success mt-4" >Checkout</a>



    </div>

{% endblock %}
