{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href=" {% static '/css/detail.css' %}">
{% endblock %}


{% block content %}
    <div class="container">

        <h2 class="text-center m-4">{{ product.name }}</h2>

        <div class="row">
            <div class="col-md-5">
                <div class="project-info-box mt-0">
                    <h5>Description</h5>
                    <p class="mb-0">{{ product.description }}</p>
                </div>

                <div class="project-info-box">
                    <p><b>Slug: </b>{{ product.slug }}</p>
                    <p><b>Name: </b>{{ product.name }}</p>
                    <p><b>Available: </b>{{ product.available }}</p>
                    <p><b>Price: </b>{{ product.price }}</p>
                    <p><b>Amount: </b>{{ product.amount }}</p>
                    <p><b>Img: </b>{{ product.img }}</p>
                    <p><b>Category_id: </b>{{ product.category_id }}</p>
                </div>

                <div class="project-info-box mt-0 mb-0">
                        <a href="{% url 'catalog_administration:product_update_url' product_slug=product.slug %}" class="btn btn-success">Update</a>
                        <a href="{% url 'catalog_administration:product_delete_url' product_slug=product.slug %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'catalog_administration:product_list_url' %}" class="btn btn-primary">Назад</a>
                </div>
            </div>

            <div class="col-md-7 photo-container">
                <img src="{{ product.img.url }}" alt="{{ product.img.url }}" class="photo">
            </div>

        </div>
    </div>

{% endblock %}