.btn-wight {
    width: 100%;
}

.avatar {
    width: 150px;
}

.card {
    background-color: #eee;
}

.height-long {
    height: 100%
}

.photo-container {
    height: 100px;
}

.photo {
    height: 100%;
    width: 100px;
    object-fit: contain;
    margin: 0 auto;
}

.orders {
    background-color: #eee;
}

.card-calc {
    height: calc(686px);
    overflow-x: hidden;
    overflow-y: auto;
}
