{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href=" {% static '/css/sign.css' %}">
{% endblock %}


{% block content %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-3 fw-light fs-5">Змінити пароль</h5>
              <form method="post">
                  {% csrf_token %}

                  {{ form.non_field_errors }}

                  <p>
                      {{ form.password }}
                  </p>

                  <p>
                      {{ form.password2 }}
                  </p>

                  <p class="d-grid">
                        <button class="btn btn-primary btn-login  fw-bold" type="submit">Підтвердити</button>
                  </p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}