{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href=" {% static '/css/user.css' %}">
{% endblock %}

{% block content %}
    <div class="container p-0">


        <h1 class="text-center m-4">Сторінка покупця</h1>

        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <h2 class="text-center m-2 font-weight-normal">
                    Інформація
                </h2>

                {% if user.img %}
                    <div class="img-fluid h-25 m-4">
                        <img class="user-photo" src="{{ user.img.url }}" alt="MyPhoto">
                    </div>
                {% endif %}


                <div>id: {{ user.id }}</div>
                <div>username: {{ user.username }}</div>
                <div>first_name: {{ user.first_name }}</div>
                <div>last_name: {{ user.last_name }}</div>
                <div>email: {{ user.email }}</div>
                <div>last_login: {{ user.last_login }}</div>
                <div>date_joined: {{ user.date_joined }}</div>

                <a href="{% url 'edit_user_data_url' %}" class="btn btn-primary mt-3 mr-3">Редагувати дані</a>

                <a href="{% url 'edit_user_password_url' %}" class="btn btn-primary mt-3 mr-3">Змінити пароль</a>

                <a href="{% url 'deactivation_user_url' %}" class="btn bg-danger text-light mt-3">Деактивація</a>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <h2 class="text-center m-2 font-weight-normal">
                    Мої покупки
                </h2>
            </div>
        </div>
    </div>
{% endblock %}