<div class="container-fluid" style="background-color: #c8cbcf; padding: 22px 0">
    <ul class="nav justify-content-center " style="font-size: 20px" >
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home_url' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'catalog_url' %}">Cataloge</a>
        </li>
        <li class="nav-item">
             <a href="{% url 'user_url' %}" class="nav-link">{{ user }}</a>
        </li>
    </ul>
</div>