{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center; margin-top: 20px">Каталог</h1>

    <div class="row">
    {% for product in products %}
        <div class="col-sm" style="margin: 45px 0px">
            <div class="card" style="width: 18rem;">

              <img class="card-img-top" src="{{ product.img.url }}" alt="{{ product.img.url }}">

              <div class="card-body">

                  {% for category in categorys%}
                      {% if category.slug == product.category_id %}
                        <h5 class="card-title">{{ category.name }}</h5>
                      {% endif %}
                  {% endfor %}

                <p class="card-text">{{ product.name }}</p>

                {% if product.amount == 0 or product.available == 0 %}
                    <p class="card-text" style="color: red">Немає в наявності</p>
                {% endif %}

                <a href="{{ product.slug }}" class="btn btn-primary">Подробнее</a>

              </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}