{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 style="text-align: center; margin-top: 20px">Product page</h1>

            <div>
                <h2>{{ product.name }}</h2>
                <img style="height: 30%; width: 30%" src="{{ product.img.url }}" alt="{{ product.img.url }}">
                <h4 class="text-justify"> {{ product.description }}</h4>
                <h1>{{ product.price }}</h1>
            </div>

            {% if product.available %}
                <button style="height: 50px; width: 150px">Купить</button>
            {% else %}
                <button disabled>Купить</button>
            {% endif %}

        </div>
    </section>

{% endblock %}