{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 style="text-align: center; margin-top: 20px">Product page</h1>

            <div>
                <h2>{{ product.name }}</h2>

                <img style="height: 30%; width: 30%; margin: 15px 0;" src="{{ product.img.url }}" alt="{{ product.img.url }}">

                <div class="text-justify" style="margin: 15px 0;"> {{ product.description }}</div>

                <h1 style="margin: 15px 0;">{{ product.price }}</h1>
            </div>

            {% if product.available or product.amount %}
                <a href="#" class="btn btn-primary">Купить</a>

            {% else %}
                <p class="card-text" style="color: red">Немає в наявності</p>
                <a href="#" class="btn btn-primary disabled">Купить</a>
            {% endif %}

        </div>
    </section>

{% endblock %}