{% load static %}

<div class="mb-1" style="font-size: 22px;">Фільтри</div>

<div class="mb-1">Ціна</div>

<form method="post">
    {% csrf_token %}
    <input type="text" class="js-range-slider" name="price_interval" value=""/>
    <button type="submit" class="btn bg-danger text-light mt-3 mb-4">Знайти</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>