{% extends 'homework_7/base.html' %}

{% block content %}
    <h1 style="text-align: center; margin: 30px 0">Каталог</h1>

    <div class="row" style="margin-bottom: 50px">
        <div class="col-sm col-lg-2">

            <div class="text" style="font-size: 22px; margin-bottom: 10px">Фільтри</div>

            <div class="block">
                <div class="text" style="margin-bottom: 5px">Категорія</div>
                {% include 'catalog/_categorys.html' %}
            </div>

        </div>

        <div class="col-sm">
            <div class="row">
                {% for product in products %}
                    <div class="col-sm" style="margin-bottom: 40px;">
                        <div class="card" style="width: 16rem;">

                            <div style="height: 300px; margin: 15px">
                                <img class="card-img-top" style="width: 100%; height: 100%; object-fit: contain;" src="{{ product.img.url }}" alt="{{ product.img.url }}">
                            </div>


                            <div class="card-body">
                                {% for category in categorys%}
                                    {% if category.slug == product.category_id %}
                                        <h5 class="card-title">{{ category.name }}</h5>
                                    {% endif %}
                                {% endfor %}

                                <p class="card-text">{{ product.name }}</p>

                                {% if product.amount == 0 or product.available == 0 %}
                                    <p class="card-text" style="color: red">Немає в наявності</p>
                                {% endif %}

                                <a href="{% url 'product_url' product_slug=product.slug %}" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}