{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href=" {% static '/css/catalog.css' %}">
{% endblock %}

{% block content %}

    <h1 class="text-center m-4">Каталог</h1>

    <div class="list-group">
        {% for category in categorys %}
            <a href="{% url 'category_url' category_slug=category.slug %}" class="list-group-item list-group-item-action text-center mb-3">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>

{% endblock %}