{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/catalog.css' %}">
{% endblock %}

{% block content %}

    <h2 class="text-center m-4 ">
        Каталог
    </h2>

        <div class="container">
            <div class="row">

                {% for category in categories %}
                    <div class="col-xl-4 col-md-6">
                        <a href="{% url 'catalog:product_list_url' category_slug=category.slug %}" class="">

                            <div class="shop">
                                <div class="shop-img product-photo-container">
                                    <img class="product-photo" src="{{ category.img.url }}" alt="{{ category.img.url }}">
                                </div>
                                <div class="shop-body">
                                    <h3>{{ category.name }}</h3>
                                </div>
                            </div>

                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% if user.is_staff %}
        <div class="container mt-4">
            <a href="{% url 'catalog:category_create_url' %}" class="btn btn-primary btn-lg">Create new category</a>
            <a href="{% url 'catalog:product_create_url' %}" class="btn btn-primary btn-lg">Create new product</a>
        </div>

        {% for category in categories %}
            <div class="container mt-4">
                <a href="{% url 'catalog:category_update_url' category_slug=category.slug %}" class="btn btn-success btn-lg">Update {{ category.name }}</a>
                <a href="{% url 'catalog:category_delete_url' category_slug=category.slug %}" class="btn btn-danger btn-lg">Delate {{ category.name }}</a>
            </div>

        {% endfor %}

    {% endif %}


{% endblock %}