{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
    <link rel="stylesheet" href=" {% static '/css/category.css' %}">
{% endblock %}

{% block content %}
    <div class="container p-0">

        <h1 class="text-center m-4">{{ category.name }}</h1>

        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12">

                <div>
                    {% include 'catalog/_filter.html' %}
                </div>

            </div>

            <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12">
                <div class="row">
                    {% for product in products %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
                            <div class="card">

                                <div class="photo-container">
                                    <img class="photo" src="{{ product.img.url }}" alt="{{ product.img.url }}">
                                </div>


                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>

                                    <p class="card-text">{{ product.price }} грн</p>

                                    {% if product.amount == 0 or product.available == 0 %}
                                        <p class="card-text text-danger">Немає в наявності</p>
                                    {% endif %}

                                    <a href="{% url 'product_url' category_slug=category.slug product_slug=product.slug %}"
                                       class="btn btn-primary">Детальніше</a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}