{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href=" {% static '/css/create.css' %}">
{% endblock %}


{% block content %}
    <div class="container mt-3">
    <h2 class="text-center m-4">Update {{ object.name }}</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {{ form.as_p }}


            <input type="submit" class="btn btn-success" value="Save">

            <a href="{% url 'catalog:product_detail_url' product_slug=object.slug %}" class="btn btn-danger">Скасування</a>
        </form>

    </div>

{% endblock %}